.explore-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 6.5rem);
    box-sizing: border-box;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.left-column {
    flex: 0.7;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.first-row {
    flex: 0.3;
    box-sizing: border-box;
}

.horizontal-line {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid var(--border-color);
}

.second-row {
    flex: 0.7;
    box-sizing: border-box;
}

.right-column {
    flex: 0.3;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cart-summary-container {
    flex: 0.3;
    border-top: 1px solid var(--border-color);
}

.cart-item {
    background-color: var(--bg-tertiary);
    padding: 12px;
    border-radius: 8px;
}